<!-- The website's header -->
<header class="todo-jekicker-header" id="page-top">

    <nav class="navbar navbar-toggleable-sm navbar-inverse">

        <h1 class="navbar-brand">
            <a href="/" aria-label="Go to website's home" title="Go to website's home">
                <img src="/assets/images/logo-jekicker-100x28.png" alt="todo Jekicker Logo" width="100" height="28">
            </a>
        </h1>


        <div class="row no-gutters menu-buttons-container">

            <!-- TODO -->
        </div>

    </nav>

</header>